/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


:root {
    --CHARCOAL: #222b37;
    --WHITE: #ffffff;
    --GREEN_HIGHLIGHT: #e5f9e6;
    --GREEN_TEXT: #40c802;
    --RED_TEXT: #f65004;
    --GREY_SHADOW: #f9f7f7;
    --GREY_TEXT: #a2a2a2;
    --BOX_SHADOW: #e8e8eb;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--WHITE);
    color: var(--CHARCOAL);
    margin: 0;
}

a {
    color: var(--GREEN_TEXT);
    text-decoration: none;
}

p {
    margin: 0px;
}

#pie {
    height: 150px;
    width: 300px;
}

/* ROOT LAYOUT  */

.app-container {
    display: grid;
    grid-template-areas:
        'app-header'
        'app-main';
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}
.app-header{ grid-area: 'app-header'; }
.app-main{ grid-area: 'app-main'; }

/* NAV BAR */

.nav-container {
    display: grid;
    grid-template-areas:
        'logo search . links';
    grid-template-columns: 200px 2fr 1fr 400px;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.nav-logo{
    width: 130px;
}

.search-bar{
    border: 1px solid grey;
    border-radius: 5px;
    width: 400px;
    padding: 8px;

}

a.nav-link {
    padding: 20px;
    font-weight: bold;
    color: var(--CHARCOAL)
}

a.nav-link:hover {
    color: var(--GREEN_TEXT)
}




/* PORTFOLIO PAGE LAYOUT  */

.portfolio-page-container {
    display: grid;
    grid-template-areas:
        'content watchlist';
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    overflow-y: scroll;
}

.portfolio-content{ 
    grid-area: content;
    margin-left: 50px;
}

.portfolio-watchlist{ 
    grid-area: watchlist; 
    margin-right: 50px;
}

.watchlist-container{ 
    margin: 20px;
    height: 100%;
    background-color: var(--GREEN_HIGHLIGHT);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* PORTFOLIO CONTENT LAYOUT  */

.portfolio-content-container {
    display: grid;
    grid-template-areas:
        'chart'
        'holdings'
        'news';

    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 1fr;
    grid-gap: 10px;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.chart-container{ 
    grid-area: chart;
    background-color: var(--GREEN_HIGHLIGHT);
    border-radius: 5px;

    display: grid;
    grid-template-areas:
        'summary chart';
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
}

.portfolio-summary{ 
    background-color: var(--GREY_SHADOW);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
}

.portfolio-summary-item {
    margin: 0px;
    padding: 0px 10px 5px 10px;
    font-size: 12px;
    line-height: 12px;
}

.holdings-container{ 
    grid-area: holdings;
    /* background-color: var(--GREEN_HIGHLIGHT); */
}

.news-container{ 
    grid-area: news;
    height: 100%;
    /* background-color: var(--GREEN_HIGHLIGHT); */
}



/* STOCK PAGE LAYOUT  */

.stock-page-container {
    display: grid;
    grid-template-areas:
        'stock-chart order'
        'stock-info .';
    grid-template-columns: 1fr 300px;
    grid-template-rows: 400px 1fr;
    grid-gap: 10px;
    height: 90%;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    overflow-y: scroll;
}

.stock-chart{ 
    grid-area: stock-chart;
    /* background-color: skyblue; */
}

.stock-info{ 
    grid-area: stock-info;
    background-color: skyblue;
}

.stock-order{ 
    grid-area: order; 
    background-color: skyblue;
}



/* STOCK PAGE PROFILE INFO */
.profile-info-container {
    display: grid;
    grid-template-areas:
        'about'
        'stats';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.info-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    padding-top: 20px;
}

.profile-logo {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}




/* SPLASH PAGE LAYOUT  */

.splash-container {
    display: grid;
    grid-template-areas:
        'splash-image splash-fields';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100vh;
}

.splash-image-container{ 
    grid-area: splash-image;
    background-color: var(--GREEN_HIGHLIGHT);
    height: 100vh;
}

.splash-image {
    width: 110%;
    /* object-fit: cover; */
}

.splash-fields{ 
    grid-area: splash-fields;
    background-color: var(--WHITE);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}





/* FORMS  */

.splash-form {
    width: 300px;
    background-color: var(--GREY_SHADOW);
    text-align: left;
    font-size: 12px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px var(--BOX_SHADOW);
}

.splash-form button {
    background-color: var(--GREY_SHADOW);
    border: 1px solid var(--GREY_SHADOW);
    border-radius: 5px;
    width: 100%;
    padding: .75em 1em;
    margin-top: 20px;
    transition: background-color 400ms, border 400ms, color 200ms;
}

.splash-form button:hover {
    background-color: var(--GREEN_TEXT);
    border: 1px solid var(--GREEN_TEXT);
    color: white;
}

.splash-form input {
    display: block;
    box-sizing: border-box;
    background-color: var(--WHITE);
    border: 2px solid var(--GREY_SHADOW);
    border-radius: 5px;

    width: 100%;
    margin: 5px 0px 30px 0px;
    padding: 10px;
    outline: 0;
}

.splash-form input:focus {
  border: 2px solid var(--GREEN_TEXT);
}



/* AssetHolding  */
.holding-table {
    width: 100%;
    margin: 0px 20px 0px 20px;
}

.holding-table-labels {
    font-size: 18px;
    font-weight: bold;
}

.holding-row {
    display: grid;
    grid-template-areas:
      "symbol shares cPrice pPrice return equity";
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 90%;
    font-size: 14px;
    border-top: 1px solid black;
    padding: 5px;
}

.holding-row:hover {
    background-color: var(--GREEN_TEXT);
}



/* NEWS CARD */

.news-card-container {
    display: grid;
    grid-template-areas:
        'info image';
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr;
    height: 120px;
    width: 100%;
    border-top: 2px solid lightgrey;
}

.news-image-container {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.news-info-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 20px;
}

.news-image {
  border-radius: 5px;
  object-fit: cover;
  width: 80%;
  height: 60%;
}

.news-title  {
    font-size: 14px;
    width: 90%;
    margin-top:10px;
}

.news-title > a {
    color: var(--CHARCOAL);
}



/* MISC  */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    /* width: 90% */
}

.flex-container-stack {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.redirect-text {
    margin-top:20px;
    text-align: center;
}

.indent-heading {
    margin-left: 20px;
    margin-top: 20px;
}

.min-margin {
    margin: 5px 0px 5px 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.grey-underline {
    border-bottom: 2px solid var(--BOX_SHADOW);
}