/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


:root {
    --CHARCOAL: #222b37;
    --WHITE: #ffffff;
    --GREEN_HIGHLIGHT: #e5f9e6;
    --GREEN_TEXT: #40c802;
    --LOGO_GREEN: #00cf98;
    --RED_TEXT: #f65004;
    --DARK_RED: #b53a14;
    --GREY_SHADOW: #f9f7f7;
    --GREY_TEXT: #a2a2a2;
    --BOX_SHADOW: #e8e8eb;
    --BLACK: black;

}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--WHITE);
    color: var(--CHARCOAL);
    margin: 0;
}

a {
    color: var(--GREEN_TEXT);
    text-decoration: none;
}

p {
    margin: 0px;
}

#pie {
    height: 150px;
    width: 300px;
}

/* ROOT LAYOUT  */

.app-container {
    display: grid;
    grid-template-areas:
        'app-header'
        'app-main';
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}
.app-header{ grid-area: 'app-header'; }
.app-main{ grid-area: 'app-main'; }

/* NAV BAR */

.nav-container {
    display: grid;
    grid-template-areas:
        'logo search . links';
    grid-template-columns: 120px 2fr 1fr 400px;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.nav-logo{
    width: 35px;
    padding-top: 8px;
}

.search-bar{
    border: 1px solid grey;
    border-radius: 5px;
    width: 500px;
}

a.nav-link {
    padding: 20px;
    font-weight: bold;
    color: var(--CHARCOAL)
}

a.nav-link:hover {
    color: var(--GREEN_TEXT)
}




/* PORTFOLIO PAGE LAYOUT  */

.portfolio-page-container {
    display: grid;
    grid-template-areas:
        'content watchlist';
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.portfolio-content{ 
    grid-area: content;
    margin-left: 50px;
}

.portfolio-watchlist{ 
    grid-area: watchlist; 
    margin-right: 50px;
}

.watchlist-container{ 
    margin:15px 30px 0px 25px;
    max-height: 80%;
    border-radius: 5px;
    padding-bottom: 1px;
    box-shadow: 1px 1px 20px 2px var(--BOX_SHADOW);
    overflow-y: scroll;
}

.watchlist-header{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px 15px 30px;
    margin: 0px;
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
}

.watchlist-selection{ 
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 10px;
    margin: 0px;
    /* border-bottom: 1px solid lightgrey; */
}

.watchlist-selection > select{ 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    /* border-radius: 5px; */
    border: none;
    padding: 10px 0px 5px 8px;
    margin: 0px;
    width: 80%;
    /* border-bottom: 1px solid lightgrey; */
}


.watchlist-item{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px 30px 20px 30px;
    font-size: 14px;
    font-weight: bold;
}

.watchlist-button > button{
    /* border: 1px solid var(--GREEN_TEXT); */
    /* background-color: var(--GREEN_TEXT); */
    border: 1px solid white;
    background-color: var(--WHITE);
    border-radius: 5px;
    color: var(--CHARCOAL);
    font-size: 14px;
    padding: 5px 40px 5px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 400ms, border 400ms, color 200ms;
}

.watchlist-button > button:hover{
    /* font-weight: bold; */
    color: var(--WHITE);
    border: 1px solid var(--RED_TEXT);
    background-color: var(--RED_TEXT);
}





.new-watchlist{ 
    justify-content: space-between;
    align-items: center;
    margin:10px;
    font-size: 14px;
    font-weight: bold;
}

.new-watchlist-section{
    padding: 5px;
}

.new-watchlist-section > input{
    width: 90%;
    border: none;
    border-radius: 3px;
    height: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    
}

.new-watchlist-section > button{
    border: none;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: var(--GREEN_TEXT)
}



/* PORTFOLIO CONTENT LAYOUT  */

.portfolio-content-container {
    display: grid;
    grid-template-areas:
        'chart'
        'holdings'
        'news';

    grid-template-columns: 1fr;
    grid-template-rows: 225px 1fr 1fr;
    grid-gap: 10px;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.chart-container{ 
    grid-area: chart;
    background-color: var(--GREEN_HIGHLIGHT);
    border-radius: 5px;

    display: grid;
    grid-template-areas:
        'summary chart';
    grid-template-columns: 300px 400px;
    grid-template-rows: 1fr;
}

.portfolio-summary{ 
    background-color: var(--GREY_SHADOW);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    /* margin-left: 20px; */

}

.portfolio-item-div {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.portfolio-summary-item {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font-size: 12px;
    line-height: 12px;
}

.holdings-container{ 
    grid-area: holdings;
    /* background-color: var(--GREEN_HIGHLIGHT); */
}

.news-container{ 
    grid-area: news;
    height: 100%;
    /* background-color: var(--GREEN_HIGHLIGHT); */
}



/* STOCK PAGE LAYOUT  */

.stock-page-container {
    display: grid;
    grid-template-areas:
        'stock-chart order'
        'stock-info .';
    grid-template-columns: 1fr 300px;
    grid-template-rows: 400px 1fr;
    grid-gap: 10px;
    height: 90%;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.stock-chart{ 
    grid-area: stock-chart;
    /* background-color: skyblue; */
}

.stock-info{ 
    grid-area: stock-info;
    background-color: skyblue;
}

.stock-order-container{ 
    grid-area: order; 
    /* background-color: skyblue; */
    margin:15px 15px 10px 10px;
    height: 90%;
    border-radius: 5px;
    padding:0px;
    box-shadow: 1px 1px 15px 2px lightgrey;
    overflow-y: scroll;
}

.stock-order-confirm{ 
    font-size: 12px;
    padding-left: 20px;
}

.stock-order-balance{ 
    font-size: 12px;
    padding: 25px;
}

.add-to-watchlist{ 
    box-shadow: 1px 1px 15px 1px lightgrey;
    border: 1px solid var(--GREEN_TEXT);
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    left: 50px;
    max-height: 30px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--GREEN_TEXT);
    padding-top:10px;
    /* padding-bottom: 0px; */
    transition: background-color 400ms;
}

.add-to-watchlist:hover{ 
    background-color: var(--GREEN_HIGHLIGHT)
}

.add-to-watchlist-select{ 
    box-shadow: 1px 1px 15px 1px lightgrey;
    border: 1px solid var(--GREEN_TEXT);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 30px;
    right: 0px;
    width: 90%;
    padding: 10px 10px 10px 10px;
    color: var(--GREEN_TEXT);
}

.add-to-list-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-to-list-form > button { 
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 165px;
    margin-left: 5px;
    transition: background-color 400ms, color 200ms;
}

.add-to-list-form > button:hover{ 
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: white;
    background-color: var(--GREEN_TEXT)
}

.adjust-list > button { 
    margin-top: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 0px;
    border: none;
    border-radius: 3px;
    width: 80px;
    transition: background-color 400ms, color 200ms;
}

.adjust-list > button:hover{ 
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: white;
    background-color: var(--GREEN_TEXT)
}
.add-to-list-form > select{ 
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 90%;
    transition: background-color 400ms, color 200ms;
}



/* STOCK ORDER FORM */

.order-header{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px 15px 20px;
    margin: 0px;
    border-bottom: 1px solid lightgrey;
    
}

.order-input{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.order-input > select{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.order-input > input{ 
    text-align: right;
    padding: 8px 2px 8px 2px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
}

.order-input > input:focus{ 
    border: 1px solid var(--GREEN_TEXT);
    background-color: var(--WHITE);
}

.order-button > button{
    border: 1px solid var(--GREEN_TEXT);
    background-color: var(--GREEN_TEXT);
    border-radius: 5px;
    color: var(--WHITE);
    font-weight: bold;
    padding: 15px 70px 15px 70px;
    margin-top: 20px;
}



/* STOCK PAGE PROFILE INFO */
.profile-info-container {
    display: grid;
    grid-template-areas:
        'about'
        'stats';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.info-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    padding-top: 20px;
}

.profile-logo {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.company-summary {
    padding-top: 10px;
    max-height: 110px;
    overflow-y: scroll;
}



/* SPLASH PAGE LAYOUT  */

.splash-container {
    display: grid;
    grid-template-areas:
        'splash-image splash-fields';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
}

.splash-image-container{ 
    grid-area: splash-image;
    background-image: linear-gradient(to bottom right, var(--LOGO_GREEN), var(--GREEN_HIGHLIGHT));
    height: 100vh;
    width: 50vw;
    transition: margin 2s;
}

.splash-image-2{
    width: 50vw;
    margin-top: 20vh;
}

.welcome-image{
    height: 225px;
    margin-top: -30px;
    margin-bottom: -15px;
}

.splash-fields{ 
    grid-area: splash-fields;
    background-color: var(--WHITE);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* FORMS  */

.splash-form {
    width: 300px;
    background-color: var(--GREY_SHADOW);
    text-align: left;
    font-size: 12px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px var(--BOX_SHADOW);
}

.splash-form button {
    background-color: var(--GREY_SHADOW);
    border: 1px solid var(--GREY_SHADOW);
    border-radius: 5px;
    width: 100%;
    padding: .75em 1em;
    margin-top: 10px;
    transition: background-color 400ms, border 400ms, color 200ms;
}

.splash-form button:hover {
    background-color: var(--GREEN_TEXT);
    border: 1px solid var(--GREEN_TEXT);
    color: white;
}

.splash-form input {
    display: block;
    box-sizing: border-box;
    background-color: var(--WHITE);
    border: 2px solid var(--GREY_SHADOW);
    border-radius: 5px;

    width: 100%;
    margin: 5px 0px 20px 0px;
    padding: 10px;
    outline: 0;
}

.splash-form input:focus {
  border: 2px solid var(--GREEN_TEXT);
}



/* AssetHolding  */
.holding-table {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.holding-table-labels {
    font-size: 18px;
    font-weight: bold;
    display: grid;
    grid-template-areas:
      "symbol shares cPrice pPrice return equity";
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 98%;
    font-size: 14px;
    border-top: 1px solid black;
    padding: 5px;
}

.holding-row {
    display: grid;
    grid-template-areas:
      "symbol shares cPrice pPrice return equity";
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 98%;
    font-size: 14px;
    border-top: 1px solid black;
    padding: 5px;
    transition: background-color 400ms;
}

.holding-row:hover {
    background-color: var(--GREEN_HIGHLIGHT);
}

.holding-row a {
    color: var(--GREEN_TEXT);
    transition: background-color 400ms, color 400ms;
}

.holding-row a:hover {
    color: black;
}




/* NEWS CARD */

.news-card-container {
    display: grid;
    grid-template-areas:
        'info image';
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr;
    height: 120px;
    width: 100%;
    border-top: 2px solid lightgrey;
}

.news-image-container {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.news-info-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 20px;
}

.news-image {
  border-radius: 5px;
  object-fit: cover;
  width: 80%;
  height: 60%;
}

.news-title  {
    font-size: 14px;
    width: 90%;
    margin-top:10px;
}

.news-title > a {
    color: var(--CHARCOAL);
    transition: color 400ms;
}

.news-title > a:hover {
    color: var(--GREEN_TEXT);
}



/* MISC  */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-container-stack {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.redirect-text {
    margin-top:20px;
    text-align: center;
}

.indent-heading {
    margin-left: 20px;
    margin-top: 20px;
}

.min-margin {
    margin: 5px 0px 5px 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.grey-underline {
    border-bottom: 2px solid var(--BOX_SHADOW);
    margin-bottom: 20px;
}

.hidden {
    display: none
}

.num-flip > section {
    width: 100px;
    color: var(--GREEN_TEXT);
}