/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


:root {
    --CHARCOAL: #222b37;
    --WHITE: #ffffff;
    --GREEN_HIGHLIGHT: #e5f9e6;
    --GREEN_TEXT: #40c802;
    --RED_TEXT: #f65004;
    --GREY_SHADOW: #f5f8fa;
    --GREY_TEXT: #a2a2a2;
    --BOX_SHADOW: #e8e8eb;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--WHITE);
    color: var(--CHARCOAL);
    margin: 0;
}

a {
    color: var(--GREEN_TEXT);
    text-decoration: none;
}

/* ROOT LAYOUT  */

.app-container {
    display: grid;
    grid-template-areas:
        'app-header'
        'app-main';
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

.app-header{ 
    grid-area: 'app-header'; 
   background-color: var(--CHARCOAL);
}

.app-main{ 
    grid-area: 'app-main';
    background-color: var(--WHITE);
}


/* PORTFOLIO PAGE LAYOUT  */

.portfolio-page-container {
    display: grid;
    grid-template-areas:
        'content watchlist';
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    overflow-y: scroll;
}

.portfolio-content{ 
    grid-area: content;
    margin-left: 50px;
    background-color: skyblue;
}

.portfolio-watchlist{ 
    grid-area: watchlist; 
    margin-right: 50px;
    background-color: skyblue;
}



/* PORTFOLIO CONTENT LAYOUT  */

.portfolio-content-container {
    display: grid;
    grid-template-areas:
        'chart'
        'holdings'
        'news';

    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.chart-container{ 
    grid-area: chart;
    background-color: var(--GREEN_HIGHLIGHT);
}

.holdings-container{ 
    grid-area: holdings;
    background-color: var(--GREEN_HIGHLIGHT);
}

.news-container{ 
    grid-area: news;
    background-color: var(--GREEN_HIGHLIGHT);
}



/* STOCK PAGE LAYOUT  */

.stock-page-container {
    display: grid;
    grid-template-areas:
        'stock-chart order'
        'stock-info .';
    grid-template-columns: 1fr 300px;
    grid-template-rows: 400px 1fr;
    grid-gap: 10px;
    height: 90%;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    overflow-y: scroll;
}

.stock-chart{ 
    grid-area: stock-chart;
    background-color: skyblue;
}

.stock-info{ 
    grid-area: stock-info;
    background-color: skyblue;
}

.stock-order{ 
    grid-area: order; 
    background-color: skyblue;
}




/* SPLASH PAGE LAYOUT  */

.splash-container {
    display: grid;
    grid-template-areas:
        'splash-image splash-fields';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
}

.splash-image{ 
    grid-area: splash-image;
    background-color: var(--GREEN_HIGHLIGHT);
}

.splash-fields{ 
    grid-area: splash-fields;
    background-color: var(--WHITE);
}





/* FORMS  */

.splash-form {
    width: 300px;
    background-color: var(--GREY_SHADOW);
    text-align: left;
    font-size: 12px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px var(--BOX_SHADOW);
}

.splash-form button {
    background-color: var(--GREY_SHADOW);
    border: 1px solid var(--GREY_SHADOW);
    border-radius: 5px;
    width: 100%;
    padding: .75em 1em;
    margin-top: 20px;
    transition: background-color 400ms, border 400ms, color 200ms;
}

.splash-form button:hover {
    background-color: var(--GREEN_TEXT);
    border: 1px solid var(--GREEN_TEXT);
    color: white;
}

.splash-form input {
    display: block;
    box-sizing: border-box;
    background-color: var(--WHITE);
    border: 2px solid var(--GREY_SHADOW);
    border-radius: 5px;

    width: 100%;
    margin: 5px 0px 30px 0px;
    padding: 10px;
    outline: 0;
}

.splash-form input:focus {
  border: 2px solid var(--GREEN_TEXT);
}



/* AssetHolding  */
.holding-table {
    width: 100%;
    margin: 0px 20px 0px 20px;
}

.holding-table-labels {
    font-size: 18px;
    font-weight: bold;
}

.holding-row {
    display: grid;
    grid-template-areas:
      "symbol shares cPrice pPrice return equity";
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 90%;
    font-size: 14px;
    border-top: 1px solid black;
    padding: 5px;
}

.holding-row:hover {
    background-color: var(--GREEN_TEXT);
}
/* 
td {
    border-top: 1px solid var(--GREY_GRID);
    border-right: 1px solid var(--GREY_GRID);
    padding: 10px;
} */








/* MISC  */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.flex-container-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.redirect-text {
    margin-top:20px;
    text-align: center;
}

.indent-heading {
    margin-left: 20px;
}

.min-margin {
    margin: 5px 0px 5px 20px;
    padding: 0px;
}
